node_modules
firebase-service-account.json
csc.db
.env
astroapp/android/app/build/outputs/apk/debug/app-debug.apk
astroapp/android/app/build/outputs/apk/release/app-release.apk
astroapp/android/app/build/outputs/apk/debug/app-debug.apk
